extends layout

block content
    h1.cover-heading= description
    table.table.table-hover
        thead.thead-dark
            th(scope='col') #
            th(scope='col') Описание
            th(scope='col') Кол-во продуктов
            th(scope='col') Дата обновления
        tbody
            if (categories.length !== 0)
                each cat, i in categories
                    tr
                        th(scope='row')= i+1
                        td
                            a.table-link(href=`/categories/${cat._id}`)= cat.description
                        td= cat.amount
                        - let lastUpdate = moment(cat.updatedAt).format("MMMM Do YYYY, h a");
                        td= lastUpdate
            else
                tr
                    th(scope='row' colspan='4') Нет категорий



