doctype html
html
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title

        //Bootstrap CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')

    //- Setup container
    body.text-center
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column

            //- Setup header for all pages
            header.masthead.mb-auto
                .inner
                    h3.masthead-brand Warehouse
                    nav.nav.nav-masthead.justify-content-center
                        a.nav-link(href="/categories" class=`${page === 'Categories' ? 'active' : ''}`) Categories
                        a.nav-link(href="/products" class=`${page === 'Products' ? 'active' : ''}`) Products

            //- Main content
            main.inner.cover(role='main')
                block content

            //- Static footer
            footer.mastfoot.mt-auto
                .inner
                    p
                        | Cover template for 
                        a(href="https://getbootstrap.com/") Bootstrap

        // Scripts for Bootstrap
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")