extends layout

block content
    h1.cover-heading= description
    table.table.table-hover
        thead.thead-dark
            th(scope='col') Категория
            th(scope='col') Название
            th(scope='col') Кол-во едениц
            th(scope='col') Срок годности
        tbody
            if (products.length !== 0)
            each product, i in products
                tr
                    th(scope='row')= product.category
                    td= product.description
                    td= product.amount
                    - const exp = moment(product.expiration).calendar();
                    td= exp
            else
                tr
                    th(scope='row' colspan='4') Нет продуктов



